<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block header_scripts_add %}{% endblock %}
    <!-- BootStrap3 -->
    <style>
        .box {
            max-width: 800px;
            margin: 0 auto;
        }

        .list-unstyled {
            line-height: 2;
        }

        .mb10 {
            margin: 0 0 10px 0;
        }
        .trade-item-image {
          text-align: center;
        }
        .trade-image {
            width: 500px;
            height: 500px;
        }
        .trade-money-sentence {
          display: inline-block;
        }
        .trade-button {
          font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
          text-align: center;
          padding-top: 40px;
        }
        .image-grid {
          display: grid;
          grid-template-columns: 300px 300px 300px;
        }
        .top-image {
          display: inline-block;
          width: 400px;
          margin: 30px 10px;
        }
        .top-item-image {
          width: 300px;
          height: 300px;
        }
        .purchase-screen {
          text-align: center;
        }
        .purchase-image {
          width: 300px;
          height: 300px;
        }
        .purchase-button {
          font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
          text-align: center;
          padding-top: 40px;
        }
        .purchase-item-price-form {
          text-align: center;
        }
        .purchase-btn {
          display: inline-block;
          max-width: 180px;
          text-align: left;
          border: 2px solid #9ec34b;
          font-size: 16px;
          color: #9ec34b;
          text-decoration: none;
          font-weight: bold;
          padding: 8px 16px;
          border-radius: 4px;
          transition: .4s;
        }
        .purchase-btn:hover {
          background-color: #9ec34b;
          border-color: #cbe585;
          color: #FFF;
        }
        .search_container{
            box-sizing: border-box;
            position: relative;
            border: 1px solid #999;
            display: block;
            padding: 3px 10px;
            border-radius: 20px;
            height: 2.3em;
            width: 260px;
          }
          .search_container input[type="text"]{
            border: none;
            position: relative;
            height: 2.0em;
          }
          .search_container input[type="text"]:focus {
            outline: 0;
          }
          .search_container input[type="submit"]{
            cursor: pointer;
            font-family: FontAwesome;
            border: none;
            border-radius: 20%;
            background: #3879D9;
            color: #fff;
            outline : none;
            width: 2.0em;
            height: 2.0em;
          }
          .trade-user-info {
            text-align: center;
            font-size: 20px;
          }
          .trade-item-name {
            text-align: center;
            font-size: 20px;
          }
          .trade-describe {
            font-size: 20px;
            text-align: center;
          }

    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body role="document">
{#メニューをセットします#}
{% include 'menu/menu.twig' %}

{# メインコンテンツを配置します#}
{% block page_content %}{% endblock %}

<!-- BootStrap3 -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{# 追加でスクリプトがほしいときにぶっこまれます #}
{% block footer_scripts_add %}{% endblock %}
{# フッタを表示します #}
{% include 'layout/footer.twig' %}
</body>
</html>
