
{% extends "layout/layout.twig" %}


{% block title %}出品{% endblock %}
{% block page_content %}

<img src="https://dummyimage.com/300.png/09f/fff" alt="">


<p class="discription">hoge, hoge, hoge</p>

<button><a href="#">confirm</a></button>


{% endblock %}



{% block footer_scripts_add %}{% endblock %}
